body {
  background-color: green;
}
.container {
  width: 20rem;
  flex-direction: column;
  height: 30rem;
  display: flex;
  background-color: white;
  margin: auto;
  margin-top: 150px;
}
.suite {
  display: flex;
  font-size: 60px;
}
#top {
  justify-content: start;
}
#bottom {
  justify-content: end;
  align-items: end;
  height: 10rem;
}
#middle {
  justify-content: center;
  height: 20rem;
  align-items: center;
  display: flex;
  font-size: 80px;
}
div {
  justify-content: center;
}
